* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #171616cd;
  }
  body::before {
    content: ""; /* Create an empty pseudo-element */
    background-image: url(bg.jpg); /* Background image URL */
    background-size: cover;
    opacity: 0.8; /* Adjust the opacity of the background image (0.0 to 1.0) */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; /* Position the overlay absolutely */
    z-index: -1; /* Place the overlay behind the content */
}
/* Navbar styles */
.navbar {
  background-color: #38382f9c;
  padding: 1em 0;
  display: flex;
  height: 70px;
  justify-content: center; /* Horizontally center the items */
  align-items: center; /* Vertically center the items */
  border-bottom: 1px solid #f4c531;
}
.navbar h2{
  color: #ffffff;
  margin-left: 80px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 50%;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f4c531;
}


  .Heading{
    color: #ffffff;
    margin-left: 11%;
    margin-top: 10%;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .sub{
    color:  #f4c531;
  }
 .quote pre{
  color: #ffffff;
    margin-left: 9%;
    font-size: 15px;
    text-align: left;
  }
  .container {
    /* background-color: #ffffff57; */
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    margin-top: 3%;
    
  }
  .search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;   
  }
  .search-container input {
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid #202030;
    background-color: #ffffff43;
    color: #090909;
    font-weight: 600;
  }
  ::placeholder{
    color: #111111;
  }
  .search-container button {
    font-size: 1em;
    background-color: #f4c531;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
  }
  img {
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
  }
  .details {
    background-color: #f4c531;
    position: relative;
    margin: -4.3em 0 0 0;
    text-align: center;
    padding: 0.6em 0;
  }
  .details h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
  .details h4 {
    font-size: 1em;
    font-weight: 400;
  }
  #show-recipe {
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.9em 0.6em;
    background-color: #f4c531;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
  }
  #search-btn:hover{
    cursor: pointer;
  }
  #recipe {
    position: absolute;
    background-color: #f2e1e1;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    display: none;
  }
  #recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
    font-size: 0.92em;
    color: #303040;
  }
  #hide-recipe {
    font-size: 1em;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background-color: #f4c531;
    border: none;
    top: 1.2em;
    left: 90%;
    border-radius: 0.3em;
  }
  ul {
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
    color: #303040;
    text-transform: capitalize;
  }
  h3 {
    text-align: center;
    margin-top: 1.8em;
    color: #202030;
  }
  @media screen and (max-width: 500px) {
    .container {
      font-size: 14px;
    }
  }